<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Office du Portfolio de Maxime Turpault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header'); %>
        <main>
            <div class="contact">
                <h2>Gestion des contacts</h2>
                <div class="contact-list">
                    <div class="contact-text">
                        <p class="contact-title">Prénom :</p>
                        <%= user.firstName %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Nom :</p>
                        <%= user.lastName %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Nom de société :</p>
                        <% if(user.society == "" ) { %>
                        <%= user.firstName %> <%= user.lastName %>
                        <% } else { %>
                        <%= user.society %>
                        <% } %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Email perso :</p>
                        <%= user.email %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Email pro :</p>
                        <%= user.emailPro %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Numéro de téléphone :</p>
                        <%= user.phoneNumber %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Adresse du site :</p>
                        <%= user.web %>
                    </div>
                    <div class="contact-text">
                        <p class="contact-title">Instagram :</p>
                        <%= user.instagram %>
                    </div>
                    <div class="contact-text">
                    <p class="contact-title">Facebook :</p>
                        <%= user.facebook %>
                    </div>
                </div>
                <div class="presentation-tools">
                    <%- include('contactmodal'); %>
                    <a class="presentation-tool" id="modalContactBtn">
                        <i class="fas fa-edit" style="margin-right: 0.5rem;"></i>Ėditer les contacts
                    </a>
                </div>
            </div>
        </main>
        <%- include('footer'); %>
        <script src="../javascripts/modalContact.js"></script>
    </body>

</html>