<div id="modalContact" class="modal">
    
    <div class="modal-content">
        <div class="btn-close">
            <a class="closebtn">
                <i class="fas fa-times" style="margin-right: 0.5rem;"></i>Fermer
            </a>
        </div>
        
        <form action="updatecontact" method="get">
            <div class="champs">
                <input hidden class="input" type="text" name="idFromFront" value="<%= user.id %>" required>
            </div>
            <label class="label-form">Prénom :</label>
            <div class="champs">
                <input class="input" type="text" name="firstNameFromFront" value="<%= user.firstName %>" required>
            </div>
            <label class="label-form">Nom :</label>
            <div class="champs">
                <input class="input" type="text" name="lastNameFromFront" value="<%= user.lastName %>" required>
            </div>
            <label class="label-form">Nom de la Société :</label>
            <div class="champs">
                <input class="input" type="text" name="societyFromFront" value="<%= user.society %>">
            </div>
            <label class="label-form">Email personnel :</label>
            <div class="champs">
                <input class="input" type="text" name="emailFromFront" value="<%= user.email %>" required>
            </div>
            <label class="label-form">Email professionnel :</label>
            <div class="champs">
                <input class="input" type="text" name="emailProFromFront" value="<%= user.emailPro %>" required>
            </div>
            <label class="label-form">Numéro de téléphone :</label>
            <div class="champs">
                <input class="input" type="text" name="phoneNumberFromFront" value="<%= user.phoneNumber %>" required>
            </div>
            <label class="label-form">Site web :</label>
            <div class="champs">
                <input class="input" type="text" name="webFromFront" value="<%= user.web %>" required>
            </div>
            <label class="label-form">Instagram :</label>
            <div class="champs">
                <input class="input" type="text" name="instagramFromFront" value="<%= user.instagram %>" required>
            </div>
            <label class="label-form">Facebook :</label>
            <div class="champs">
                <input class="input" type="text" name="facebookFromFront" value="<%= user.facebook %>" required>
            </div>
            <div class="champs">
                <button class="btn" type="submit">Valider</button>
            </div>
        </form>
    </div>

</div>