<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Back Office du Portfolio de Maxime Turpault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('header'); %>
        <main>
            <div class="galerie">
                <% for (let i=0; i<galerie.length; i++) { %>
                    <div class="galerie-item">
                        <img class="galerie-image" src="<%= galerie[i].miniatures %>" alt="<%= galerie[i].name %>" />
                        <p class="galerie-text">
                            <%= galerie[i].categorie %>
                        </p>
                        <p class="galerie-text">
                            <%= galerie[i].name %>
                        </p>
                    </div>
                    <% } %>
            </div>
        </main>
        <%- include('footer'); %>
</body>

</html>