<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Office du Portfolio de Maxime Turpault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header'); %>
        <main>
            <div class="presentation">
                <h1>Gestion de la présentation</h1>
                <div class="presentation-content">
                    <img class="galerie-image" src="<%= presentation[0].photo %>" alt="Maxime Turpault" />
                    <p class="presentation-text">
                        <%= presentation[0].presentation %>
                    </p>
                </div>
                <div class="presentation-desc">
                    <p class="galerie-text">
                        <%= presentation[0].description %>
                    </p>
                </div>
                <div class="presentation-tools">
                    <%- include('presentationmodal'); %>  
                    <a class="presentation-tool" id="modalPresentationBtn">
                        <i class="fas fa-edit" style="margin-right: 0.5rem;"></i>Ėditer la présentation
                    </a>
                </div>
            </div>
        </main>
        <%- include('footer'); %>
        <script src="../javascripts/modalPresentation.js"></script>
</body>

</html>